<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Maintenance</title>
    <style type="text/css">
    body {
        background:#e7ebf0;
        -webkit-font-smoothing: antialiased;
        font: 300 100% "OpenSans", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
    }

    .wrap {width:350px;padding:40px 70px 70px; margin:100px auto; background:#fff; border-top:5px solid #02bd9e;}

    h1 {font-weight: 200; padding-bottom:30px;}
    p {color: #838689;}
    </style>
</head>
<body>
   <div class="wrap">
        <h1>What2do.asia is down for <%= reason ? reason : "maintenance" %></h1>

         <p>as at: <%= Time.now.strftime("%F %H:%M %Z") %>.</p>

        <p>We will be back <%= deadline ? deadline : "shortly" %>. Thanks for your patience.</p>
    </div>
</body>
</html>
